{% extends 'base.html' %}
{% block section %}
    <h1 class="jumbotron-heading">Books</h1>
    <p class="lead text-muted">
        Here you can see list of all books that are available in our Library.
    </p>
    <a class="btn btn-success mb-3" href="{% url 'create_book' %}">Create New Book</a>
    <form action="{% url 'book_list' %}">
        {% csrf_token %}
        <div class="d-flex justify-content-center align-content-center m-2 gap-3">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="sorting" id="sort_by_name_asc"
                       value="name" checked>
                <label class="form-check-label" for="sort_by_name_asc">
                    Sort By Name(Asc)
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="sorting" id="sort_by_name_desc"
                       value="-name">
                <label class="form-check-label" for="sort_by_name_desc">
                    Sort By Name(Desc)
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="sorting" id="sort_by_count" value="count">
                <label class="form-check-label" for="sort_by_count">
                    Sort By Book Count
                </label>
            </div>
        </div>
        <div class="form-group mt-3">
            <input type="text" class="form-control" name="book_name" id="book_name" aria-describedby="bookName"
                   placeholder="Filter by Book Name">
        </div>
        <div class="form-group mt-3">
            <input type="text" class="form-control" name="author_surname" id="author_surname"
                   aria-describedby="authorSurname"
                   placeholder="Filter by Author Surname">
        </div>
        <button type="submit" class="btn btn-primary mt-2">Submit</button>
    </form>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            {% for book in books %}
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top"
                             data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
                             alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;"
                             src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22208%22%20height%3D%22225%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20208%20225%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_17fdbd53bd7%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A11pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_17fdbd53bd7%22%3E%3Crect%20width%3D%22208%22%20height%3D%22225%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2266.93437576293945%22%20y%3D%22117.41999988555908%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
                             data-holder-rendered="true">
                        <div class="card-body">
                            <p class="card-text">{{ book.name }}</p>
                            <p class="card-text">{{ book.description }}</p>
                            <p class="card-text">{{ book.count }}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="{% url 'book_detail' book_id=book.id %}"
                                       class="btn btn-sm btn-outline-secondary">
                                        View
                                    </a>
                                    <a href="{% url 'update_book' book_id=book.id %}"
                                       class="btn btn-sm btn-outline-secondary">
                                        Edit
                                    </a>
                                    <a href="{% url 'delete_book' book_id=book.id %}"
                                       class="btn btn-sm btn-outline-secondary">
                                        Delete
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}